.comments-app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin-left: 60px;
    width: 100%;
    font-family: cursive;
}
.comments-app-heading{
    font-size: 40px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 52px;
    text-align: center;
}
.comments-app-mini-container{
    display: flex;
    flex-direction: column;
}
.comments-app-image{
    height: 40vh;
    width: 90%;
    margin-left: 25px;
    margin-bottom: 30px;
}
.comments-app-form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.comments-app-form-heading{
    font-size: 23px;
    color: #1e293b;
    font-weight: 600;
    margin-bottom: 25px;
}
.comments-app-form-name-input{
    background-color: transparent;
    border: 1px solid #475569;
    border-radius: 10px;
    width: 90%;
    color: #334155;
    padding: 18px 24px;
    font-size: 22px;
    margin-bottom: 25px;
}
.comments-app-button{
    border-width: 0;
    border-radius: 10px;
    background-color: #0b69ff;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 16px;
}
.comments-app-line{
    width: 70%;
    color: #475569;
    font-size: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
}
.comments-app-comments-count-container{
    display: flex;
}
.comments-app-comments-count{
    color: #334155;
    font-size: 18px;
}
.comments-app-comments-count-value{
    color: #0b69ff;
    font-size: 22px;
    font-weight: 700;
    margin-right: 10px;
}
.comments-list-container{
    display: flex;
    flex-direction: column;
}
.comments-list-mini-container{
    display: flex;
}
.comments-list-profile-container{
    height: 50px;
    width: 50px;
    border-width: 0;
    border-radius: 30px;
}
.comment-list-name-initial{
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-top: 7px;
}
.comments-list-profile-details-container{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.comments-list-name-date-container{
    display: flex;
}
.comments-list-name{
    font-size: 24px;
    color: #1e293b;
    font-weight: 700;
    margin-top: 8px;
    text-transform: capitalize;
}
.comments-list-date{
    font-size: 16px;
    margin-left: 50px;
    color: #475569;
}
.comments-list-comment{
    color: #475569;
    font-size: 18px;
    margin-top: 5px;
    width: 70%;
}
.comments-list-like-container{
    display: flex;
    justify-content: space-between;
}
.like-icon-name-container{
    display: flex;
}
.comments-list-like-icon{
    height: 30px;
    width: 30px;
}
.comments-list-like-name{
    font-size: 20px;
    margin-left: 20px;
    margin-top: -4px;
}
.comments-list-button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -13px;
}
.comments-list-delete{
    height: 30px;
    width: 30px;
    margin-top: 8px;
}
.comments-list-delete-button{
    margin-right: 26%;
}

@media screen and (min-width:768px) {
    .comments-app-container{
        margin-left: 120px;
    }

    .comments-app-heading{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .comments-app-mini-container{
        flex-direction: row;
    }

    .comments-app-form-heading{
        min-width: 100%;
    }

    .comments-app-image {
        height: 58vh;
        width: 60%;
        margin-left: 200px;
        order: 1;
    }

    .comments-list-delete-button{
        margin-right: 29%;
    }
}
