.finance-mobility-home-main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    padding: 6em 2em 3em 5em;
    background-color: rgb(173, 215, 235);
}

.finance-mobility-self-payment-main-heading {
    font-size: 22px;
    font-weight: 600;
    color: rgb(3, 72, 112);
    margin-bottom: 20px;
}

.finance-mobility-user-details-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.finance-mobility-user-details-list-container > div > p {
    font-weight: 800;
    font-size: 17px;
}

.finance-mobility-user-details-list-container p,
.finance-mobility-user-details-list-container span {
    width: 50%;
}

.finance-mobility-root button:disabled {
    cursor: no-drop;
    pointer-events: all !important;
}
