.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f172a;
    justify-content: center;
    min-height: 100vh !important;
}
.heading{
    color: #f8fafc;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 800;
}
@media screen and (min-width:768px) {
    .heading {
        font-size: 65px;
    }
}
.super-over-league-image {
    height: 220px;
    width: 200px;
}
@media screen and (min-width:768px) {
    .super-over-league-image {
            height: 360px;
            width: 380px;
        }
}
.image-container{
    display: flex;
    flex-direction: row;
}
