.content-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto";

}
.content-heading{
    color: #0f172a;
    font-size: 25px;
}
@media screen and (min-width:768px) {
    .content-heading {
            font-size: 35px;
        }
}
.content-para{
    margin-top: -10px;   
    font-size: 16px !important; 
}
.content-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 66px;
    margin-left: 48px;
}
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    margin-bottom: -20px ;
}
.project-name {
    font-size: 16px;
    text-decoration: none;
    color: midnightblue;
    margin-bottom: -16px;
}
.ul-div-container{
    display: flex;
    flex-direction: row;
}
@media screen and (min-width:768px) {
    .content-list-container {
        margin-right: 200px;
        margin-left: 150px;
    }

    .home-content{
        font-size: 23px;
    }

    .content-para {
        font-size: 20px !important;
    }

    .project-name {
        font-size: 23px;
        margin-bottom: -20px;
    }
}
